.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 2.75rem;
  border-bottom: 1px solid var(--color-list-line);
  gap: 1.125rem;
}

.checkbox {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
  /* transition: border 0.15s ease-in-out; */
}

.checkbox:checked {
  background: var(--color-accent);
  border: 4px solid var(--color-box);
}

.text { 
  color: var(--color-txt);
  cursor: pointer;
  flex: 1 1 0%;
  letter-spacing: -0.01em;
  font-size: 1.125rem;
}

.checkbox:checked + .text {
  color: var(--color-txt-light);
  font-size: 1rem;
}

.button {
  width: 2rem;
  height: 2rem;
  /* padding: 0.625rem; */
}
.button svg {
  width: 100%;
  height: 100%;
  color: var(--color-txt-light);
  position: relative;
}
