nav {
  padding: 2.75rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.date p {
  color: var(--color-txt-light);
  font-size: 0.875rem;
  font-weight: 400;
}
.date h1 {
  color: var(--color-txt);
  margin-top: 0.375rem;
  font-weight: 400;
  font-size: 2rem;
}
.mode {
  color: var(--color-accent);
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}
.mode svg {
  width: 100%;
  height: 100%;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
  padding: 1rem 2.75rem;

}
.filters li button {
  color: var(--color-txt-light);
  font-family: 'suit';
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}
.filters li button.selected {
    color: var(--color-txt);
}