:root {
  --color-accent: #FCB523;
  --color-bg: #F8F8FA;
  --color-box: #FFFFFF;
  /* --color-line: #F5F5F5; */
  --color-line: #E0E0DE;
  --color-txt: #636368;
  --color-txt-light: #C6C6C9;
  --shadow-bg: 0px 30px 60px rgba(138, 149, 158, 0.2);
}
html.dark {
  --color-accent: #6D64ED;
  --color-bg: #323544;
    --color-box: #1C1E2A;
  /* --color-line: #272B32; */
  --color-line: #525152;
  --color-txt: #F7F7F7;
  --color-txt-light: #9E9E9E;
  --shadow-bg: 0px 30px 60px rgba(17, 19, 21, 0.3);;
}
body {
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Sora', 'SUIT', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* width: 100%;
  height: 60%; */
  width: 416px;
  height: 736px;
  background-color: var(--color-box) ;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-bg);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

li, p {
  margin: 0;
}